html,body {
    height: 100%;
}
body {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    padding-top: 50px;

    background-color: #fffcf2;
    margin: 0 0 0 0;
}

/* Change the docs' brand */
body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    float: right;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    color:#eee;
}
#nav-container .dropdown-menu {
    padding: 20px;
}
.accordion-inner {
    padding:0px !important;
}

span.label {
    background-color: transparent;
    color: #555;
    border: none;
    padding: none;
    text-shadow: none;
}

.ui-dialog {
    margin-top: 50px !important;
}

#book_details_dialog .modal-dialog{
    width: 750px;
} 

.navbar-inner {
    height: 40px;
}

#footer {
    font-size: small;
    color: #a6a399;
    text-align: right;
    margin-right: 30px;
}

/* }}} */

/* Sort select  {{{ */

/* }}} */

/* Search bar {{{ */

/* }}} */

/* Top level {{{ */
ul {
    list-style-type: none;
}
.toplevel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.toplevel li {
    margin: 0.75em;
    padding: 0.75em;
    cursor: pointer;
    font-size: larger;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline;
    width: 250px;
    overflow: hidden;
}

.toplevel li a { text-decoration: none; }

.toplevel li img {
    vertical-align: middle;
    margin-right: 1em;
}

.toplevel li:hover {
    background-color: rgb(162, 200, 221);
    font-weight: bold;
    /*
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
     */

}

.toplevel li span.url { display: none }
.toplevel li span.label {
}


/* }}} */

/* Category {{{ */
.category > div.category-container {
    width: 100%;
    margin-top: 1ex;
    margin-bottom: 1ex;
    display: table;
}

.category div.category-item {
    display: table-row;
}

.category div.category-item > div {
    padding: 0.75em;
    cursor: pointer;
    display: table-cell;
}

.category div.category-name { font-weight: bold }

.category div.category-item:hover {
    background-color: rgb(162, 200, 221);

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.category div.category-item a { text-decoration: none; color: inherit; }

#groups a.load_href { 
    text-decoration: none;
    color: inherit;
    font-size: medium;
    font-weight: normal;
    padding: 0;
    padding-left: 0.5em;
}

/* }}} */

/* Booklist {{{ */

#booklist .page { 
    display: none; 
}

#booklist .load_data { display: none }

.loading {
    width: 100%;
    text-align:center;
}
.loading img {
    vertical-align: middle;
}


#booklist div.left {
    float: left;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-left: 1em;
    margin-right: 2em;
}

#booklist div.left img {
    display: block;
    margin-bottom: 1ex;
    margin-left: auto;
    margin-right: auto;
}

#booklist div.right {
    min-height: 150px;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}

#booklist div.right .stars {
    float:right;
    margin-right: 1em;
}

#booklist div.right .stars .rating_container {
    display: block;
}

#booklist div.right .stars .series {
    display: block;
}

#booklist .title {
    font-size: larger;
}

#booklist a {
    text-decoration: none;
}

#booklist a:hover {
}

#booklist a.summary_thumb img {
    border: none
}


#booklist > #pagelist { display: none; }

#goto_page_dialog ul {
    list-style-type: none;
    font-size: medium;
}

#goto_page_dialog li {
    margin-bottom: 1.5ex;
}

#booklist .left .ui-button-text {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    cursor: pointer;
}

#booklist .listnav {
    display: table;
    width: 100%;
    padding-bottom: 10px;
}

#booklist .listnav a {
    text-decoration: none;
}

#booklist .listnav a:hover {
}

#booklist .topnav {
    margin-bottom: 1ex;
}

#booklist .navleft {
    display: table-cell;
    text-align: left;
}

#booklist .navleft a {
    margin-right: 1em;
}

#booklist .navmiddle {
    display: table-cell;
    text-align: center;
}

#booklist .navright {
    display: table-cell;
    text-align: right;
}

#booklist .navright a {
    margin-left: 1em;
}

/* }}} */

/* Details {{{ */

.details .left {
    float: left;
    max-width: 50%;
    margin-right: 2em;
    overflow: auto;
}

.details .right {
overflow-y: scroll;
height: 400px;
}

.details .formats {
    margin-bottom: 2ex;
}


.details .field {
    margin-bottom: 0.5em;
}

.pull-center {
    text-align: center;
}
#book_details_dialog .bookimage {
    float:left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.details a.details_thumb img {
    border: none
}

.details #random_button {
    display:block
}


/* }}} */

