html,body {
    height: 100%;
}
body {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    background-color: #fffcf2;
    margin: 0 0 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top:100px;
}

.btn {
text-transform:uppercase;
}

.summary.well {
border:0px;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.navbar-fixed-top {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.navbar-brand img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color:rgba(70, 70, 70, 0.6);
}
.navbar-header a.navbar-brand {
    height: 100%;
    min-width: 75px;
}

.nav li:hover {
    background-color: rgba(70, 70, 70, 0.8);
}

.nav li {
    text-align:center;
    width:75px;
    background-color: rgba(70, 70, 70, 0.6);
    margin: 0px 1px;
    border-radius:3px;
}

.nav li.input  input{
    background-color: #222;
    border: 1px solid #383838;
    /* color: #999; */
    padding: 5px;
    border-radius: 3px;
    color:#999;
}

h3 {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom:10px;
}
.navmiddle {
    font-size:16px;
}
.navleft a, .navright a {
    font-size:16px;
    color:#333;
    text-decoration:underline!important;
    text-transform:uppercase;
}
.nav li.input {
    width: auto;
    height: 100%;
    padding: 8px;
    padding-right: 28px;

                }
.nav li i {
    font-size:42px;
}

.nav li span {
    display:block;
    text-transform:uppercase;
    font-size:10px;
}

@media (min-width: 768px) {
    .navbar-brand img {
        width:75px;
    }
}
@media (min-width: 768px) {
.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
}


/* Change the docs' brand */
body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    float: right;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    color:#eee;
}
#nav-container .dropdown-menu {
    padding: 20px;
}
.accordion-inner {
    padding:0px !important;
}

span.label {
    background-color: transparent;
    color: #555;
    border: none;
    padding: none;
    text-shadow: none;
}

.ui-dialog {
    margin-top: 75px !important;
}

#book_details_dialog .modal-dialog{
    width: 750px;
} 

.navbar-inner {
    height: 40px;
}

#footer {
    font-size: small;
    color: #a6a399;
    text-align: right;
    margin-right: 30px;
}

/* }}} */

/* Sort select  {{{ */

/* }}} */

/* Search bar {{{ */

/* }}} */

/* Top level {{{ */
ul {
    list-style-type: none;
}
.field.formats:before {
            font-family: FontAwesome;
                content: "\f019";
                    padding-right:5px;
                }

.field.formats {
    font-size:18px;
    font-weight:bold;
}
#book_details_dialog .title h3 {
    display: none;
}

.modal-header {
    background-color:#2f2f2f;
    color:#eee;
    border:1px solid #eee;
}
.modal-header h3{
    border-bottom: none;
    padding-bottom:0px;
}
article {
    padding:10px 0px 20px 20px;
}
.toplevel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
}

.toplevel li a { text-decoration: none; }

.toplevel li img {
    vertical-align: middle;
}

.toplevel li span {
display:block;
text-transform:uppercase;
font-size:10px;
padding:10px;
color: #eee;
}
.toplevel li:hover {
    /*background-color: rgb(162, 200, 221);*/
    background-color: #666;
    font-weight: bold;
    /*
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
     */

}

.toplevel li span.url { display: none }
.toplevel li span.label {
}


/* }}} */

/* Category {{{ */
.category > div.category-container {
    width: 100%;
    margin-top: 1ex;
    margin-bottom: 1ex;
    display: table;
}

.category div.category-item {
    display: table-row;
}

.category div.category-item > div {
    padding: 0.75em;
    cursor: pointer;
    display: table-cell;
}

.category div.category-name { font-weight: bold }

.category div.category-item:hover {
    background-color: rgb(162, 200, 221);

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.category div.category-item a { text-decoration: none; color: inherit; }

#groups a.load_href { 
    text-decoration: none;
    color: inherit;
    font-size: medium;
    font-weight: normal;
    padding: 0;
    padding-left: 0.5em;
}

/* }}} */

/* Booklist {{{ */

#booklist .page { 
    display: none; 
}

#booklist .load_data { display: none }

.loading {
    min-height:150px;
    text-align:center;
}
.loading img {
    vertical-align: middle;
}


#booklist div.left {
    float: left;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-left: 1em;
    margin-right: 2em;
}

#booklist div.left img {
    display: block;
    margin-bottom: 1ex;
    margin-left: auto;
    margin-right: auto;
}

#booklist div.right {
    min-height: 150px;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}

#booklist div.right .stars {
    float:right;
    margin-right: 1em;
}

#booklist div.right .stars .rating_container {
    display: block;
}

#booklist div.right .stars .series {
    display: block;
}

#booklist .authors, article {
    color:#696969;
}

#booklist .title {
    font-size: 20px;
    text-decoration:underline;
    font-family:Georgia;
}

#booklist a.btn-default:before {
    font-family: FontAwesome;
    content: "\f0c1";
    padding-right:5px;
}
#booklist a.details:before {
    font-family: FontAwesome;
    content: "\f05a";
    padding-right:5px;
}
#booklist a.read:before {
    font-family: FontAwesome;
    content: "\f019";
    padding-right:5px;
}
#booklist a.readMore {
    font-weight: bold;
    text-decoration: underline;
}

.toplevel ul li a{
    display:none;
}
.toplevel ul li {
    margin: 0.75em;
    padding: 0.75em;
    cursor: pointer;
    font-size: larger;
    float: left;
    display: inline;
    width: 150px;
    overflow: hidden;
    color: #333333;
    background-color: #ffffff;
    background-color:#383838;
    text-align: center;
}


#booklist a {
    text-decoration: none;
}

#booklist a:hover {
}

#booklist a.summary_thumb img {
    border: none;
    width:100%;
    max-width:163px;
}


#booklist > #pagelist { display: none; }

#goto_page_dialog ul {
    list-style-type: none;
    font-size: medium;
}

#goto_page_dialog li {
    margin-bottom: 1.5ex;
}

#booklist .left .ui-button-text {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    cursor: pointer;
}

#booklist .listnav {
    display: table;
    width: 100%;
    padding-bottom: 10px;
}

#booklist .listnav a {
    text-decoration: none;
}

#booklist .listnav a:hover {
}

#booklist .topnav {
    margin-bottom: 1ex;
}

#booklist .navleft {
    display: table-cell;
    text-align: left;
}

#booklist .navleft a {
    margin-right: 1em;
}

#booklist .navmiddle {
    display: table-cell;
    text-align: center;
}

#booklist .navright {
    display: table-cell;
    text-align: right;
}

#booklist .navright a {
    margin-left: 1em;
}

/* }}} */

/* Details {{{ */

.details .left {
    float: left;
    max-width: 50%;
    margin-right: 2em;
    overflow: auto;
}

.details .right {
    overflow-y: scroll;
    height: 400px;
}

.details .formats {
    margin-bottom: 2ex;
}


.details .field {
    margin-bottom: 0.5em;
}

.pull-center {
    text-align: center;
}
#book_details_dialog .bookimage {
    float:left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.details a.details_thumb img {
    border: none
}

.details #random_button {
    display:block
}


/* }}} */

